
<h2>Restaruants List </h2>

<div class="container-fluid">
  <div class="row" *ngFor="let item of restaurants">
      <div class="col-sm-3"  >{{item.id}}</div>
      <div class="col-sm-3" >{{item.name}}</div>
      <div class="col-sm-3"  >{{item.Description}}</div>
      <div class="col-sm-3"  ><button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default"  ">Open</button></div>
    
  </div>
  <h3>hi</h3>
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header <span class="badge" >{{selectedRestaurant.id}}</span></h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>
    
 
</div>
 
 
  
 